<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{%  block title %}Home{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
       <link rel="stylesheet" href="{% static 'css/style.css' %}">
       <link rel="stylesheet" href="{% static 'css/signin.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>

    <body>
    {% if user.is_authenticated %}
        {% include 'authenticated_navbar.html' %}
    {% else %}
        {% include 'visitor_navbar.html' %}
    {% endif %}

        <div class="text-center">
            <img src="static/images/Open500x375.png">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h2>What Open is</h2>
                    <p> OPEN will be the modern way to setup blind dates.</p>
                    <p>Common dating apps often fail their users in one simple manner- they rely on quick,
                    snap judgements, usually based on appearances. </p>
                    <p>Open will result in deeper, less superficial meet ups- for people "open" to new experiences.</p>
                </div>
                <div class="col-sm-4">
                    <h2>How It Works</h2>
                    <p> OPEN aims to fill the niche of a "smart" dating app.</p>
                    <p>OPEN will be similar to other dating apps by matching users primarily by shared interests.</p>
                </div>
                <div class="col-sm-4">
                    <h2>What Is Different About Open</h2>
                    <p>However, it also will allow users to facilitate the app during the date (by suggesting topics of conversation,
                        even customized date ideas) and rate their dates afterwards.</p>
                    <p>This breadth of information will enable OPEN to have more accurate predictions
                        about who will make a great match.</p>
                </div>
            </div>
        </div>
    {% include 'footer.html' %}
    </body>
</html>
