<div class="container-fluid bg-1">

   <div class="row">

       <div class="col-sm-10">

  <h3>My Interests</h3>
           <div class="page-header">
    <a href="{% url 'userProfiles:post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Edit Interests</a>


</div>
  <table class="table">
    {% for selected in user.userprofile.interest_type.all %}
    <tbody>
      <tr>
          <td><strong>{{ selected }}</strong>{% endfor %}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
