<div class="container-fluid bg-1" style="background-color:WhiteSmoke ;" >
  <div class="row ">
    <div class="col-sm-6">
                    <div class="text-center" >
                        <img src="../static/images/generic.png" class="img-circle" alt="Generic pic" width="300" height="300" >
                    </div>
                <div class="text-center">
				<div class="rating-block">
					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
				</div>
            </div>
    </div>
    <div class="col-sm-6 " style="background-color:WhiteSmoke ;">
        <div class="text-left">
            <h1>Name:{{ user.first_name }}{{user}}</h1>
            <h1>Last:{{ user.last_name }}</h1>
            <h4 ><strong>Location: </strong> Placeholder</h4>
            <h4><strong>Sex: </strong>Placeholder </h4>
            <h4><strong>Age: </strong>Placeholder</h4>
            <h4><strong>Email:</strong>{{user.email}}</h4>

            <a href="{% url 'edit_userinfo' %}" class="btn btn-info" role="button">Edit</a>
        </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-1">
   <div class="row">
       <div class="col-sm-10">
  <h3>My Interests</h3>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Placerholder</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>

<div class="container">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#popUpWindow"> Hello modal</button>

    <div class="modal fade" id="popUpWindow">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <img src="../static/images/Open225x256.png" class="img-rounded" alt="open" >
                    <h3 class="modal-title">What Are Your Interests?</h3>
                </div>

                <div class="modal-body">

                    <p>Hello</p>
                     {% for post in posts %}
                        <h4>{{ post }}</h4> <br>
                     {% endfor %}


                </div>

                <div class="modal-footer">
                <button type="button" class="btn">Submit</button>

                </div>

            </div>

        </div>


    </div>

</div>
