

.sidenav {

 float: right;
    max-width: 222px;
    margin: 0;
    padding: 0em;
  background-color: #111;
  top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}
