<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <h1>What are your Interests?</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form }}
        <button type="submit" class="save btn btn-default">Submit</button>
    </form>
{% endblock %}

<p>Elbow</p>
{% for value, text in form.Interests.field.choices %}
    {{ text }}
<button type="submit" class="save btn btn-default">Submit</button>
{% endfor %}

<ul>
  <li><input type="radio" name="form" ></li>
  {{form}}
</ul>
<h1>Hello hello </h1>
<form action="{% url 'post_new' %}" method="POST">
    {% csrf_token %}
    {%for userInterest in userInterests_set.all%}
    <input type="radio" id="userInterests{{forloop.counter}}" name="userInterests" value="{{userInterests.id}}">
    <label for ="userInterests{{forloop.counter}}">
            {{Interests.userInterests}}
            {% if userInterests.chosen_Interests%}
                <P>Picked</P>
            {% endif %}
    </label>
    {% endfor %}
</form>

</body>
</html>
